@import "~bulma/sass/utilities/initial-variables.sass";
// Post Preview
.postpreview-title {
    margin-bottom: 0 !important;
    a>&:hover {
        color: $cyan;
    }
}

.postpreview-content {
    margin-top: 1em;
}

.postpreview-readmore {
    margin-bottom: 1.2rem;
    display: inline-block;
    &:hover::after {
        width: 100%;
    }
    &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $cyan;
        transition: width .3s;
    }
    &>a {
        color: $grey-light;
        &:hover {
            color: $cyan;
        }
    }
}

// Post
.post-divider {
    margin-top: 0rem;
}

// Post Preview
.box:not(:last-child) {
    margin-bottom: 3rem !important;
}

// Navbar
.navbar-item.navbar-center {
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

// Footer
.footer {
    padding-top: 3rem !important;
    padding-bottom: 1rem !important;
}

// Others
.tag:not(body).is-medium {
    font-size: 1rem !important;
}

section.has-navbar-fixed-top {
    margin-top: 2rem;
}

.grow {
    transition: all .3s ease;
}

.grow:hover {
    transform: scale(1.02);
}

.is-margin-top-0 {
    margin-top: 0 !important;
}

.is-margin-bottom-0 {
    margin-bottom: 0 !important;
}